<ion-content class="has-header">

    <!-- header datos persona -->
    <div class="bar bar-header bar-light">
  	  <h1 class="title">
  	  	<span class='float-l'><i class="icon ion-person"></i> {{persona.nombre}} </span>
        <img class='float-r margin-top-10 empanada-icon' src='img/empanada.jpg'>
        <span class="float-r margin-top-10 badge badge-assertive">{{persona.totalEmpanadas()}}</span> 
  	  </h1>
	  </div>
    
    <!-- Agregar gusto -->
     <button class="bar bar-subheader button button-full button-energized" ng-click="showPopup()">Agregar nuevo gusto</button>

	<!-- muestro empanadas -->
  <div class="card-container">
  	<div class="card card-item" style="margin: 50px 10px 10px 10px;" ng-repeat="empanada in empanadas">
    	<div class="item item-text-wrap">
	    	<h2>{{empanada.nombre}}</h2>
        <p style="style:50%;float:left;" ng-click="persona.addEmpanada(empanada.id)" class="ion-android-add"></p>
        <p style="style:50%;float:right" ng-click="persona.removeEmpanada(empanada.id)" class="ion-android-remove"></p>
        <div style="clear:both;"></div>
	    	<p>{{persona.cantEmpanadas(empanada.id)}}</p>
    	</div>
    </div>
  </div>
</ion-content>