<ion-content class="has-header">
  <div class="row">

    <button 
    	class="button col col-50" 
    	ng-class="{'button-energized': resumen.nombre=='resumenGeneral'}" 
    	ng-click="pedidoGeneral()">Resumen General</button>
    <button class="button col col-50"
        ng-class="{'button-energized': resumen.nombre=='resumenPersonas'}" 
		ng-click="pedidoPorPersonas()">Resumen x Persona</button>
    <h1 ng-model="listado.nombre"></h1>
    
  </div>
  <div ng-include="resumen.url"></div>
</ion-content>

