<ion-content class="has-header padding" on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()">

	<div class="list">

	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Precio por empanada</span>
	     <input type="text" placeholder="$0.00" ng-model="costos.unitario">
	  </label>

	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Gastos extras</span>
	    <input type="text" placeholder="$0.00" ng-model="costos.extra">
	  </label>  
	</div>  

</ion-content>
