<ion-tabs class="tabs-icon-top">

  <!-- Pedido Tab -->
  <ion-tab title="Pedido" icon="icon ion-home" href="#/tab/pedido">
    <ion-nav-view name="tab-pedido"></ion-nav-view>
  </ion-tab>

  <!-- Costos Tab -->
  <ion-tab title="Costos" icon="icon ion-cash" href="#/tab/costos">
    <ion-nav-view name="tab-costos"></ion-nav-view>
  </ion-tab>

  <!-- Resumen Tab -->
  <ion-tab title="Resumen" icon="icon ion-gear-b" href="#/tab/resumen">
    <ion-nav-view name="tab-resumen"></ion-nav-view>
  </ion-tab>

</ion-tabs>
