.float-l{
	float:left;
}

.float-r{
	float:right;
}

.margin-top-10{
	margin-top:10px;
}

.empanada-icon{
	width:20px;
	height:20px;
	margin-left:10px;
}

.padding-0{
	padding:0;
}

/*Cards*/
.card-container {
	text-align: center;
}

.card-item {
	display: inline-block;
	width: 200px;
	margin: 2px;
}

.card-item-gustos {
	display: inline-block;
	width: 150px;
	margin: 2px;
}

.card-margin-top{
	margin-top: 50px;
}

/*Pedido-Persona*/
.button-add-remove{
	font-size:25px;
	height:50px;
	width:50%;
}
.button-add{
	color:green;
}

.button-remove{
	color:red;
}

.subTotal-empanadas{
	display: inline-block !important;
	position: static !important;
	margin:3px;
}

/*Pedido*/
.error-personas{
	margin:20px;
	color:red;
}