.float-l{
	float:left;
}

.float-r{
	float:right;
}

.margin-top-10{
	margin-top:10px;
}

.empanada-icon{
	width:20px;
	height:20px;
	margin-left:10px;
}

/*Cards*/
.card-container {
	text-align: center;
}

.card-item {
	display: inline-block;
	width: 200px;
	margin: 2px;
}

.card-margin{
	margin: 50px 10px 10px 10px;
}

.left-box{
	width:50%;
	float:left;
}

.right-box{
	width:50%;
}